.container {
  background-color: #f5f5f5;
  padding: 0 2rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  list-style-type: none;
}

.link {
  display: inline-block;

  color: #0070f3;
  text-decoration: none;
}

.link:not(:last-child) {
  margin-right: 16px;
}

.link:hover,
.link:focus,
.link:active {
  text-decoration: underline;
}
